@use 'colors';
@use 'piece';

.player-status {
  display: flex;
  align-items: center;

  .won-piece {
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;

    @include piece.backgrounds;
  }

  .player-score {
    margin-left: 1rem;
    opacity: .4;
  }
}

